* {
  font-family: samim;
  color: #000;
  direction: rtl;
}

html,
body,
html {
  direction: rtl;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f3f3f3;
}

#root-container {
  height: 100vh;
}

#header {
  text-align: center;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #ececec;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
#main-container {
  min-height: 70vh;
  display: block;
  position: relative;
  text-align: center;
}
#footer {
  height: fit-content;
  bottom: 0;
  text-align: center;
  background-color: #002b81;
  margin-top: 50px;
  padding: 10px;
}
footer p {
  color: #fff;
}

.center {
  text-align: center;
}

/* Table */

table {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}
table p {
  color: #000;
  font-weight: 600;
}
tbody td {
  color: #000;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  padding: 20px;
  font-weight: 300;
  margin-bottom: 100px;
  background-color: #f0f0f0;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.15);
}
td {
  width: 20vw;
}

th {
  width: fit-content;
}

/* Input form */

input {
  color: #000000;
  margin: 15px;
  border-radius: 30px;
  background-color: #e0e0e0;
  height: 25px;
  padding: 0 15px 0 15px;
}

/*  Button */

button {
  background-color: #282c34;
  color: #fff;
  border-radius: 30px;
  padding: 8px;
}
